<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>com.vidmt.of.plugin.VPlugin</class>
    <name>vplugin</name>
    <description>filter the invalid client and reply the message to do the reconnection</description>
    <author>Xingqisheng</author>
    <version>1.0</version>
    <date>9/16/2014</date>
    <!--    <databaseKey>vplugin</databaseKey> -->
	<databaseVersion>1</databaseVersion>
    <minServerVersion>3.11.0</minServerVersion>
	<adminconsole>
 		<tab id="vplugin" name="${tab.vplugin}">
            <sidebar id="sidebar-user-info" name="${sidebar.userinfo}">
            	<item id="user" name="${item.user}" url="user.jsp"
                     description="Click is trigger prop plugin" />
            </sidebar>
			<sidebar id="sidebar-statistics-info" name="${sidebar.statisticsinfo}">
            	<item id="statistics" name="${item.statistics}" url="statistics.jsp"
                     description="统计信息" />
            </sidebar>
        </tab>
    </adminconsole>
<!--   
	<adminconsole>
 		<tab id="tab-server">
            <sidebar id="sidebar-server-settings">
            	<item id="vplugin" name="${sidebar.vplugin}" url="vplugin.jsp"
                     description="Click is trigger prop plugin" />
            </sidebar>
        </tab>
    </adminconsole>
-->
</plugin>
